*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin:50px  auto;
    border: 1px solid black;
    width: 480px;
    height: 480px;
    box-sizing: content-box;
}
.card{
    border: 1px solid black;
    height: 30px;
    

}
.card :hover{
    background-color: red;
}
